@tailwind base;
@tailwind components;
@tailwind utilities;


/* let"s define some general and resuable  styling  */
*,::after,::before{
    box-sizing: border-box;
}

.team{
    outline: 1px solid red;
}

html{
    font-size: 62.5%;
}



body{
   background-color:  #FAFAFA; 
     /* overflow-x: hidden !important;  */
     overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;

}

@layer components {
    h1 {
      @apply text-[3.3rem]   font-[700] leading-[4rem] lg:text-[6.4rem] lg:leading-[7.2rem];
    }

    h2{
        @apply font-[700] text-[3rem] leading-[4rem] lg:text-[5.5rem] lg:leading-[7.2rem]
    }

    h3{
        @apply text-[2.4rem] font-bold leading-[3.2rem] lg:text-[4rem] lg:leading-[4rem]
    }
    h4{
        @apply font-[700] text-[3.2rem] leading-[4rem]
    }

    h5{
       @apply font-semibold text-[2rem] leading-[3.2rem]
    }

    h1,h2,h3,h4,h5{
        @apply text-black
    }
    p{
        @apply text-[1.6rem] font-[400] leading-[2.6rem] text-paleBlack lg:text-[1.7rem]
    }

    button{
        @apply text-[1.8rem]
    }
    .navbar__list li{
        @apply leading-[4rem]  my-10 md:my-2 md:mx-4 text-center 
    }
    .faqBtn{
        @apply w-[70%] border-[#D0D3D3] my-4 md:w-[17.3rem]  text-[1.8rem]  mx-2 font-[600] border-[2px] py-6 rounded-full
    }
  }





h1,.navbar__list li,h2,h3,h4,h5,h6{
     font-family: 'Sora', sans-serif; 
}


/* this is the roles for all the green words and the underline svg of them */

strong{
    position: relative;
    color: #5ada2e;
}

 .strong-small::after{
    content: url("/src/assets/shortLine.svg"); 
    top: 14px;
    left: 10px;
}

.strong-ourTeam::after{
    content: url("/src/assets/shortLine.svg"); 
    top: 14px;
    left: 4px;
}



@media   (min-width: 1110px){
    .strong-small::after{
        content: url("/src/assets/powerUnderlineDesktop.svg"); 
        top: 18px;
        left: 16px;
    }
}

@media   (min-width: 1110px){
    .strong-ourTeam::after{
        content: url("/src/assets/ourTeamDesktopUnderline.svg"); 
        top: 18px;
        left: 16px;
    }
}


strong::after{
    position: absolute;
}


.strong--taller::after{
    content: url("/src/assets/tallerLight.svg");
    top: 16px;
    left: -80px;

}

 @media (min-width: 1110px){
    .strong--taller::after{
        content: url("/src/assets/renewableUnderLineDesktop.svg");
        top: 25px;
        left: 0;
    }
} 





/* buttons styling */



.book-call-btn:hover path {
    fill: white;
  }

 .book-discoveryCall-btn:hover path {
    fill: #152223;
}
 

   .book-discoveryCall-btn:hover{
 border: 1px solid #152223;
}  
 
   .book-discoveryCall-btn{
  border: 1px solid #152223;
}  
 
header{
    transition: position 1s ease-in-out; /* Add a transition effect for the position */
 
}


/* change the path color on the svg icon for the linkedin logo when user hover over it */
.linkedinIcon:hover path{
fill:#0A66C2;
}


/* add a general style to all the buttons */
button,.linkedinIcon{
    transition: transform 0.5s linear;
}


