@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
} */

html{
    font-size: 62.5%;
}



@layer components {
    h1 {
      @apply text-[3.3rem]   font-[700] leading-[4rem] lg:text-[6.4rem] lg:leading-[7.2rem];
    }

    h2{
        @apply font-[700] text-[3rem] leading-[4rem] lg:text-[5.5rem] lg:leading-[7.2rem]
    }

    h3{
        @apply text-[2.4rem] font-bold leading-[3.2rem] lg:text-[4rem] lg:leading-[4rem]
    }
    h4{
        @apply font-[700] text-[3.2rem] leading-[4rem]
    }

    h5{
       @apply font-bold text-[2.4rem]
    }

    h1,h2,h3,h4,h5{
        @apply text-black
    }
    p{
        @apply text-[1.6rem] text-[300] leading-[2.6rem] text-paleBlack lg:text-[1.7rem]
    }

    button{
        @apply text-[1.8rem]
    }
    .navbar__list li{
        @apply leading-[4rem]  my-10 md:my-2 md:mx-4 text-center 
    }

  }

p{
    font-family: 'Poppins', sans-serif;
}

img{
    cursor: pointer;
}

h1,.navbar__list li,h2,h3,h4,h5,h6{
     font-family: 'Sora', sans-serif; 
}


strong{
    position: relative;
    color: #5ada2e;
}

.strong-small::after{
    content: url("/src/assets/shortLine.svg");
    top: 16px;
    left: 10px;
}


strong::after{
    display: inline-flex;
    position: absolute;
   

}


.strong--taller::after{
    content: url("/src/assets/tallerLight.svg");
    top: 16px;
    left: -80px;

}

/* features section */
/* 
.features{
    position: relative;
}
.features::before{
content: url(/src/assets/featuretopwave.svg);
position: absolute;
top: -16px;
z-index: -22222;
}  */


/* map section */

 /* .map{
    background-image: url(/src/assets/Frame\ 330\ \(1\).svg);
    background-repeat: no-repeat;
    z-index: 777777777777777;
    background-position: center;
    background-size: cover;

}  */